/* 骨架屏容器 */
.skeleton {
    width: 100%;
    height: 100%;
    background: #f0f4f6;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

/* 骨架屏容器黑色主题背景 */
html.dark .skeleton {
    background: #252a4a;
}

/* 闪烁动画 */
.skeleton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            145deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1.5s infinite;
}

/* 骨架屏容器闪烁动画黑色主题背景 */
html.dark .skeleton::after {
    background: linear-gradient(
            145deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(161, 160, 160, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%
    );
}

/* 动画关键帧 */
@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.skeleton-image {
    width: 100%;
    height: 150px;
    margin-bottom: 12px;
}

.skeleton-text {
    width: 100%;
    height: 16px;
    margin-bottom: 8px;
}

.skeleton-text.short {
    width: 50%;
}